@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');

body {
  font-family: Georgia, serif;
  ;
  overflow-x: hidden;
  background-color: #16154E;
  padding: 0px;
  margin: 0%;
}

.bgimg {
  margin: 0;
  width: 224.34px;
  height: 680.60px;
  position: top left;
  opacity: 0.60;
}

a {

  text-decoration: none;
  color: currentColor;
}

a:hover {

  color: currentColor;
}

header {
  width: 100vw;
  height: 100px;

  box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
  display: flex;
  align-items: center;
}

header .container-fluid {

  width: 100%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media(max-width:992px) {

  header .container-fluid {

    padding: 0 5%;
  }
}

header .navb-logo img {

  width: 290px;
  height: 100px;
}

header .navb-items {

  display: flex;
  align-items: center;
  justify-content: flex-end;
  letter-spacing: 3px;
}

header .item {

  text-align: center;
  margin-inline: 10%;
  font-size: 18px;
  letter-spacing: 3px;
  color: #d3ddee;
  padding: 3px 0;
  transition: all .1s ease;
  border-bottom: 0px solid #64d6f4;
  border-top: 0px solid #64d6f4;
  cursor: pointer;
}

header .item:hover {

  border-bottom: 3px solid #64d6f4;
  border-top: 3px solid #64d6f4;
}

header .item-button a {

  background-color: #0a2043;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  transition: all .5s ease;
}

header .item-button a:hover {

  background-color: #64d6f4;
}



.section-1 {

  width: 100vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-1 p {

  font-size: 75px;
  font-weight: 700;
  color: #102447;
  width: 90%;
  text-align: center;
}


.form-container {
  position: fixed;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}

.home .show .form-container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.home.show .form-container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.signup_form {
  display: none;
}

.form-container.active .signup_form {
  display: block;
}

.form-container.active .login_form {
  display: none;
}

.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}

.form-container h2 {
  font-size: 22px;
  color: #0b0217;
  text-align: center;
}

.input_box {
  position: relative;
  margin-top: 30px;
  width: 100px;
  height: 40px;
}

.input_box input {
  height: 100%;
  width: 246px;
  outline: none;
  border: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
}

.input_box input:focus {
  border-color: #7d2ae8;
}

.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}

.input_box i.email,
.input_box i.password {
  left: 0;
}

.input_box input:focus~i.email,
.input_box input:focus~i.password {
  border-color: #7d2ae8;
}

.input_box i.pw_hide {
  /* right:0; */
  left: 230px;
  font-size: 10px;
  cursor: pointer;
}

.option_field {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-container a {
  color: #7d2ae8;
  font-size: 12px;
}

.form-container a:hover {
  text-decoration: underline;
}

.checkbox {
  display: flex;
  column-gap: 8px;
  white-space: nowrap;
  font-size: 12px;
}

.chcekbox input {
  accent-color: #7d2ae8;
}

.checkbox label {
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  color: #0b0217;
}

.form-container .button {
  background: #0b2b5e;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff;
}

.form-container .googleBtn {
  background: linear-gradient(to right, #2b8def 0%, #4545d0 50%, #183288 100%);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}

.signup_form {
  display: none;
}

#logoc {
  position: relative;
  left: 1000px;
  top: -690px;
}

#logoc img {
  width: 500px;
  height: auto;
}

.letter p {
  color: #ffffff;
  text-align: left;
  font: 1500 "Inter", sans-serif;
  position: relative;
  left: 96.05px;
  top: -990.67px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: 0.5;
  font-size: 200%;
}

.p_c {
  color: #5d90e1;
}

#bg2 {
  left: 240.05px;
  top: -1090.67px;
  opacity: 0.30;
  width: 234.71px;
  height: 237.12px;
  position: relative;
  overflow: hidden;
}
#bg4 {
  top: -1300px;
  opacity: 0.30;
  width: 790px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

#bg3 {
  left: 790px;
  top: -2000px;
  opacity: 0.20;
  width: 1300.88px;
  height: 772.13px;
  position: relative;
  overflow: hidden;
}


